{% extends 'base.html.twig' %}
{% block meta_title %}{% endblock %}
{% block content %}
    <div class="container" id="main">
        {% form_theme form 'form/form_theme.html.twig' %}
        {{ form_start( form ) }}
        {{ form_row( form.date, {
            'label': 'app.strength.form.date',
        } ) }}
            {{ form_row( form.name, {
                'label': "app.strength.form.name",
            } ) }}
            {{ form_row( form.weight, {
                'label': "app.strength.form.weight",
            } ) }}

        {{ form_row( form.save, {
            'label': "app.session.form.save",
        } ) }}
        {{ form_end( form ) }}
    </div>
{% endblock %}
