{% extends 'base.html.twig' %}
{% block meta_title %}Wod{% endblock %}
{% block content %}
<div class="container" id="main">
    <div class="col-sm-6">
        <a href="{{ path('wod_add') }}" class="btn btn-subscription">{{ 'app.add_wod'|trans }}</a>
    </div>
    <div class="col-sm-6">
        <a href="{{ path('strength_add') }}" class="btn btn-subscription btn-strength">{{ 'app.add_strength'|trans }}</a>
    </div>
    {% if eventCount > 0 %}
        <script type="text/javascript">
            var events = {{ events|raw }};
        </script>
       <div class="col-sm-12">
           <div id='calendar'></div>
       </div>
    {% else %}
    <div class="col-sm-12">
        {{ 'app.no_data'|trans }}
    </div>
    {% endif %}
</div>
{% include ':parts:modal_wod.html.twig'  with {} %}
{% endblock %}
