<nav class="navbar navbar-default" id="navbar-container">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{ path('homepage') }}{% else %}{{ path('fos_user_security_login') }}{% endif %}"><img src={{ asset('/assets/public/img/logo-app.png') }} /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('homepage') }}">{{ 'app.global.home'|trans }}</a></li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
                    <li><a href="{{ path('adminpage') }}">{{ 'app.global.dashboard'|trans }}</a></li>
                    <li><a href="{{ path('session_add') }}">{{ 'app.global.add_session'|trans }}</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <span class="user-logged pull-left">{{ 'layout.logged_in_as'|trans({'%username%': app.user.fullname, '%hour%': app.user.hoursByWeek}) }} |</span>
                        <a class="pull-left" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
