<nav class="navbar navbar-default" id="navbar-container">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{ path('homepage') }}{% else %}{{ path('fos_user_security_login') }}{% endif %}"><img src={{ asset('/assets/public/img/logo-app.png') }} /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="hidden-sm hidden-md hidden-lg">
                        <span class="user-logged">{{ 'layout.logged_in_as'|trans({'%hour%': app.user.hoursByWeek}) }} <span class="hidden-sm hidden-xs"></span></span>
                    </li>
                    <li><a href="{{ path('homepage') }}">{{ 'app.global.home'|trans }}</a></li>
                    <li><a href="{{ path('wod_show') }}">{{ 'app.global.wod_show'|trans }}</a></li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
                    <li><a href="{{ path('adminpage') }}">{{ 'app.global.dashboard'|trans }}</a></li>
                    <li><a href="{{ path('session_add') }}">{{ 'app.global.add_session'|trans }}</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="hidden-xs">
                        <span class="user-logged">{{ 'layout.logged_in_as'|trans({'%hour%': app.user.hoursByWeek}) }} <span class="hidden-sm hidden-xs"></span></span>
                    </li>
                    <li>
                        <a class="pull-left" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li>
                        <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}">{{ 'app.back_to_admin'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
